<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230126840117-3m6aiq8orttbaju4egqn3235b0aba03f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230126840117-3m6aiq8orttbaju4egqn3235b0aba03f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230126840117-1v1q9m6psj6ern77alte1onhask83tg2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCepXs2kl8t7MoglCFf3wfAV_R1IqjHnys</string>
	<key>GCM_SENDER_ID</key>
	<string>230126840117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notiDust.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>noti-dust</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-dust.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230126840117:ios:6e9ec9518670ea3549847c</string>
</dict>
</plist>